
.about-container{
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-row: 1fr 1fr;
    margin-top: 20vh;
    margin-left: 10vw;
}

.about-container h1,.about-container h3{
    text-align: left;
    font-weight: 400;
}

.about-body{
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    color: white;
    box-shadow:  0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2);
    width: 80%;
    max-width: 800px;
    padding: 30px;
    margin-left: 10px;
    min-height: 400px;
}

.selected-option{
    text-decoration: underline;
    transition: .24s ease-in-out;
}

.unselected-option{
    cursor: pointer;
    transition: .24s ease-in-out;
}

.unselected-option:hover{
    color: rgb(75, 75, 75);
}

@media(max-width: 780px) {
    .about-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .about-container{
        margin-left: 0vh;
        margin-top: 10vh;
    }
    .about-options{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 10px;
    }
    .about-page-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-nav{
        margin-left: 40px;
        margin-right: 40px;
    }
    .about-body{
        margin: 0;
        max-height: 400px;
        overflow-y: auto;
    }
}

@media(max-width: 681px) {
    .about-options{
        grid-template-columns: 1fr 1fr;
    }
}