
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: initial;
}

h1,h2,h3,h4{
    text-align: center;
}

button{
    padding: 10px 40px 10px 40px;
    background-color: salmon;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: 200ms;
    box-shadow:  0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2) 
}

input{
    width: 80%;
    height: 2.5em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    transition: 200ms;
}

textarea{
    resize: none;
    height: 150px;
    width: 90%;
    padding: .8em;
    font-size: 1.2em;
}

input:focus,textarea:focus,button:focus{
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(228, 228, 228, 0.6);
    outline: 0 none;
}

.page-main{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(195, 138, 233) 0%, rgb(235, 88, 88) 50%, rgb(236, 189, 122) 100%);
    min-height: 800px;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.page-main-white{
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.grecaptcha-badge{
    z-index: -1;
    opacity: 0;
}

@media(max-width:350px) {
    body{
        display: none;
    }
}
