.contact-me-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 100%;
}

.contact-me-title{
    text-align: center;
    font-size: 3em;
    align-self: center;
}

.contact-me-inner{
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    color: white;
    box-shadow:  0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2);
    width: 800px;
    min-height: 580px;
    height: 70vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3em;
}

.contact-me-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 80%;
}

.contact-me-inputs input{
    margin: 10px 20px 10px 20px;
}

.contact-me-inputs textarea{
    margin:10px 20px 10px 20px;
}

.contact-me-res-msg{
    width: 90%;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1150px){
    .contact-me-inner{
        width: 600px;
    }
}
@media(max-width:665px){
    .contact-me-inner{
        width: 400px;
    }
}

@media(max-width:427px){
    .contact-me-inner{
        width: 320px;
    }
}

