.footer-main{
    position: fixed;
    bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 3em;
    align-content: center;
    z-index: 20;
    min-width: 300px;
}

.footer-main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    .footer-main{
        font-size: .7em;
    }
    
}