

.landing-content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.landing-title{
    font-size: 4em;
    margin: 10px;
}

.landing-sub-title{
    font-size: 1.2em;
    margin: 0px 10px 0px 10px;
    text-align: center;
    padding: 0 20px 0 20px;
}

.landing-icons-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

.landing-icon{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.landing-get-started-container{
    margin-top: 100px;
    color: rgb(77, 10, 2);
    cursor: pointer;
    transition: 200ms;
}

.landing-get-started-container:hover{
    background-color: rgb(51, 51, 51);
    color: rgb(248, 190, 190);
}

.landing-get-started-link{
    color: white;
}

.showcase-main{
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.showcase-options-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.showcase-title{
    margin: 40px;
    margin-top: 50px;
    font-size: 2.8em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    z-index: -1;
}

.showcase-arrow{
    height: 50px;
    width: 50px;
    opacity: .5;
    transition: 300ms;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}

.showcase-arrow:hover{
    transform: scale(1.1);
    opacity: .8;
}

.showcase-icon{
    height: 25px;
    width: 25px;
}

.showcase-media-grid{
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    overflow: hidden;
    height: 100%;
    gap: 10px;
    justify-items: center;
}

.showcase-media-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
}

.showcase-card-main{
    width: 1000px;
    height: 360px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2) ;
    padding: 20px 15px 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.showcase-card-pic-container{
    min-height: 300px;
    max-height: 350px;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.showcase-card-main img{
    object-fit: cover;
    width: 300px;
    float: right;
}

.showcase-card-main p {
    font-size: 1.3em;
    padding: 10px;
}


.showcase-pagnation-container{
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.showcase-pagnation-grid{
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: 1fr;
    height: 100%;
    gap: 10px;
    overflow: hidden;
}

.showcase-pagnation-image{
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.showcase-pagnation-image-wrapper{
    transition: 500ms;
}

.showcase-pagnation-arrow{
    height: 25px;
    width: 25px;
    transition: 200ms;
    cursor: pointer;
}

.showcase-pagnation-item-container{
    width: 50px;
    height: 50px;
    background-color: white
}

.showcase-pagnation-arrow:hover{
    transform: scale(1.3);
}

@media (max-width:1070px) {
    .showcase-media-container{
        width: 600px;
    }
    .showcase-card-main{
        width: 560px;
        font-size: .89em;
    }
    .showcase-title{
        text-align: center;
        width: 600px;
    }
}

@media (max-width:660px) {
    .showcase-title{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .showcase-main{
        justify-content: flex-start;
    }
    .showcase-card-main{
        height: 500px;
        flex-direction: column;
    }
    .showcase-media-container{
        height: 600px;
    }
}

@media (max-width:640px) {
    .showcase-card-main{
        width: 400px;
        max-height: 540px;
        min-height: 540px;
    }
    .showcase-media-container{
        max-height: 600px;
        min-height: 600px;
        overflow-y: hidden;
        width: 450px;
    }
    .showcase-card-pic-container{
        float: none;
    }
    .showcase-arrow{
        position: absolute;
        top: -150px;
    }
    .showcase-options-grid{
        display: flex;
        justify-content: center;
        position: relative;
    }
    #showcase-left-arrow{
        left: 10%;
    }
    #showcase-right-arrow{
        right: 10%
    }
    .showcase-title{
        margin-top: 20px;
        font-size: 2em;
        width: 70%;
    }
}

@media (max-width:440px) {
    .showcase-title{
        font-size: 1.4em;
        width:90%;
    }
    .showcase-options-grid{
        flex-direction: column;
        width: 90%;
    }
    #showcase-left-arrow{
        left: 0px;
    }
    #showcase-right-arrow{
        right: 0px;
    }
    .showcase-pagnation-container{
        margin-top: 0px;
    }
    .showcase-media-container{
        margin-bottom: 0px;
    }
    .showcase-card-main{
        width: 250px;
        padding: 10px;
        text-align: center;
        font-size: .8em;
    }
    .showcase-card-pic-container{
        width: 200px;
        min-height: 200px;
        max-height: 200px;
        max-width: 200px;
        min-width: 200px;
    }
    .showcase-card-pic-container img{
        object-fit: contain;
        width: 200px;
        height: 200px;
    }
}



