.navbar-main{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(0,0,0,0.6);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    color: white;
    padding: 20px;
    font-size: larger;
    align-content: center;
    transition: transform 1000ms ease-in-out;
}

.navbar-title {
    font-size: 2em;
    font-weight: 600;
    z-index: 30;
}

.navbar-link-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
    z-index: 30;
}

.navbar-link{
    text-decoration: none;
    color: inherit;
    transition: .24s ease-in-out;
}

.navbar-link:hover{
    color: rgb(212, 212, 212);
}

#home-link{
    display: none;
}

.navbar-icon-container{
    display: none;
    position: sticky;
    top: 30px;
    pointer-events: all;
}

.nav-sticky-container{
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 90px;
}

.navbar-icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: rgb(48, 48, 48);
}

@media (max-width:700px) {
    .navbar-main{
        width: 150px;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 25;
    }
    .navbar-link-container{
        flex-direction: column;
        align-items: flex-start;
        height: 180px;
        margin-top: 50px;
    }
    .navbar-title{
        display: none;
    }

    .navbar-icon-container{
        display: inherit;
        position: sticky;
        z-index: 30;
        top: 20px;
        padding-left: 10px;
    }
    #home-link{
        display: initial;
    }
    
}

@media (max-height:890px) and (min-width: 701px) {
    .navbar-main{
        height: 40px;
    }
    
}

