
.showcase-n-main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 3.5em;
    margin: 0px 10px 0px 10px;
}

.showcase-n-main h1{
    text-align: center;
}

.showcase-n-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    max-height: 50vh;
    justify-items: center;
}

.showcase-n-card-main{
    box-shadow:  0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2)  ;
    padding: 15px;
    margin: 5px;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.showcase-n-card-main p{
    padding: 0px 15px 0px 15px;
}

.showcase-n-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1;
    
}

.showcase-n-p-container{
    overflow-y: auto;
    flex: 99;
    margin-bottom: 10px;
}

.showcase-link-btn{
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.3em;
    border: 1px solid salmon;
}

.showcase-link-btn:focus{
    border-color: rgba(90, 90, 90, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(95, 95, 95, 0.6);
}


@media(max-width: 1630px){
    .showcase-n-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 1150px){
    .showcase-n-grid{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 550px){
    .showcase-n-btn-container{
        flex-direction: row;
        justify-content: space-around;
     }
     .showcase-link-btn .showcase-icon{
        display: none;
     }
     .showcase-link-btn{
        width: 100px;
     }
     .link-btn-a{
        
    }
     .showcase-n-card-main{
         width: 300px;
     }
}